<!--pages/orderHistory/orderHistory.axml-->
<!-- 引入过滤器 -->
<import-sjs name="filter" from="../../utils/filter/filter.sjs"></import-sjs>

<view class="datePickerBox">
  <picker mode="date" value="{{startTime}}" start="2015-09-01" end="{{endTime}}" onChange="bindStartTimeChange">
    <view class="datePicker">{{startTime}}</view>
  </picker>
  <view>至</view>
  <picker mode="date" value="{{endTime}}" start="{{startTime}}" end="{{todayDate}}" onChange="bindEndTimeChange">
    <view class="datePicker">{{endTime}}</view>
  </picker>
  <view class="search" onTap="searchByDate">搜索</view>
  <view class="keyword"  onTap="searchByKey" a:for="{{keywordArr}}" a:key="name" data-index="{{index}}">{{item}}</view>
</view>

<view class="box">
  <view class="listHeader">
    <view class="item" onTap="sortFun" a:for="{{sortArr}}" a:key="name" data-index="{{index}}">
      <text class="{{item.checked?'c3096F9':''}}">{{item.name}}</text>
      <view class="sort">
        <text class="iconfont icon-arrLeft-fill1 {{(item.checked && item.sort)?'c3096F9':''}}"></text>
        <text class="iconfont icon-arrLeft-fill {{(item.checked && !item.sort)?'c3096F9':''}}"></text>
      </view>
    </view>
  </view>
  <view style="height:{{touchMoveHeight}}px"></view>
  <scroll-view scroll-y class="rentList" a:if="{{list.length>0}}" onScrollToLower="lower" onScroll="bindscroll" onTouchStart="touchStart" onTouchEnd="touchEnd" catchtouchmove="touchMove" style="height:{{boxHeight}}px">
    <view class="item" onTap="goOrderDetails" a:for="{{list}}" a:key="id" a:for-item="item" data-id="{{item.id}}">
      <image src="{{Host + '/' + item.equImg[0]}}" mode="aspectFill"></image>
      <view class="info">
        <view class="title">{{item.type + '-' + item.version}}</view>
        <view class="ge"></view>
        <view>
          <text class="hours">时长: {{filter.Hm(item.timeCount)}}分钟</text>
          <!--formatTime<text class="product-name">推进器</text>-->
        </view>
        <view>
          <text class="hours">结束时间: {{filter.formatTime(item.endTime)}}</text>
        </view>
        <view>
          <text class="order-number">订单号: {{item.ordernum}}</text>
        </view>
      </view>
      <view class="price cF89898">
        <text style="font-size:22rpx;">¥</text>
        <text>{{filter.numToFixed(item.expense)}}</text>
      </view>
    </view>
    <view class="loadall" a:if="{{loadAll && list.length>0}}">已加载全部</view>
  </scroll-view>
  <view class="noData" a:if="{{list.length==0}}">
    <image src="/images/home_orderlist_img_n.png"></image>
    <view><text>尊敬的商家\n暂无订单</text></view>
  </view>
</view>