<!--pages/shopMap/shopMap.axml-->
<!--绑定点击事件-->
<!--绑定输入事件-->
<view a:if="{{addListShow}}">
<view class="top">
  <view class="back iconfont icon-fanhui" onTap="back1"></view>
  <view class="search-box {{addListShow?'search-box1':''}}">
    <view class="region" onTap="chooseCity">{{currentRegion.district}}</view>
    <view class="shu"></view>
    <input onInput="getsuggest" placeholder="请输入您的店铺地址"></input>
  </view>
</view>
<!--关键词输入提示列表渲染-->
<view class="add-list-box">
<scroll-view class="add-list" scroll-y>
  <view class="add-item" a:for="{{suggestion}}" a:key="index">
    <!--绑定回填事件-->
    <view onTap="backfill" id="{{index}}" data-name="{{item.title}}">
      <!--根据需求渲染相应数据-->
      <!--渲染地址title-->
      <view class="title">{{item.title}}</view>
      <!--渲染详细地址-->
      <view class="add">{{item.addr}}</view>
    </view>
  </view>
</scroll-view>
</view>
</view>


<view a:if="{{!addListShow && !chooseCity}}">
<!--地图容器-->
<view id="myMap" style="width:100%;height:300px;">
  <map style="width:100%;height:300px;"
    longitude="{{longitude}}"
    latitude="{{latitude}}" scale="17" onRegionChange="mapChange">
  </map>
  <cover-view class="top">
    <cover-view class="back" onTap="back1">
      <cover-image src="../../images/back.png"></cover-image>
    </cover-view>
    <cover-view class="search-box">
      <cover-view class="region" onTap="chooseCity">{{currentRegion.district}}</cover-view>
      <cover-view class="shu"></cover-view>
      <cover-view class="placeholder" onTap="showAddList">请输入您的店铺地址</cover-view>
    </cover-view>
  </cover-view>
  <cover-view class="map-prompt">您可拖动地图, 标记店铺准确位置</cover-view>
  <cover-image class="current-site-icon" src="../../images/my_marker.png"></cover-image>
  <cover-view class="reload" onTap="reload">
    <cover-view class="center1">
      <cover-view class="center2"></cover-view>
    </cover-view>
  </cover-view>
</view>
  

<scroll-view class="near-list" scroll-y style="height:{{boxHeight}}px">
  <!--绑定回填事件-->
  <view class="near-item" a:for="{{nearList}}" a:key="index">
    <view class="current-site iconfont icon-location" a:if="{{index == selectedId }}"></view>
    <!--根据需求渲染相应数据-->
    <view onTap="chooseCenter" id="{{index}}" data-name="{{item.title}}">
      <!--渲染地址title-->
      <view class="title {{ index == selectedId?'title1':'' }}">{{item.title}}</view>
      <!--渲染详细地址-->
      <view class="add {{ index == selectedId?'add1':'' }}">{{item.addr}}</view>
    </view>
  </view>
</scroll-view>
<view class="bottom-box">
  <button onTap="selectedOk">确认地址</button>
</view>
</view>

<view class="region-box" a:if="{{chooseCity}}">
  <view class="region-top">
    <view class="region-back iconfont icon-fanhui" onTap="back2"></view>
    <view class="title">选择城市</view>
  </view>
  <view class="region-tabs">
    <text class="tab" onTap="showProvince">{{currentProvince}}</text>
    <text class="tab" onTap="showCity" a:if="{{!regionShow.province}}" onTap="showCity">{{currentCity}}</text>
    <text class="tab" onTap="showDistrict" a:if="{{regionShow.district}}" onTap="showDistrict">{{currentDistrict}}</text>
  </view>
  <scroll-view scroll-y style="height:1050rpx;">
    <view class="region-list" a:if="{{regionShow.province}}">
      <view class="region-item" a:for="{{regionData.province}}" a:key="index">
        <view data-id="{{item.id}}" data-name="{{item.fullname}}" onTap="selectProvince">
          <text>{{item.fullname}}</text>
        </view>
      </view>
    </view>
    <view class="region-list" a:if="{{regionShow.city}}">
      <view class="region-item" a:for="{{regionData.city}}" a:key="index">
        <view data-id="{{item.id}}" data-name="{{item.fullname}}" onTap="selectCity">
          <text>{{item.fullname}}</text>
        </view>
      </view>
    </view>
    <view class="region-list" a:if="{{regionShow.district}}">
      <view class="region-item" a:for="{{regionData.district}}" a:key="index">
        <view data-id="{{item.id}}" data-name="{{item.fullname}}" data-latitude="{{item.location.lat}}" data-longitude="{{item.location.lng}}" onTap="selectDistrict">
          <text>{{item.fullname}}</text>
        </view>
      </view>
    </view>
  </scroll-view>
</view>