<!--pages/incomeCount/incomeCount.wxml-->
<import-sjs name="filter" from="../../utils/filter/filter.sjs"></import-sjs>

<view class="datePickerBox">
  <picker mode="date" value="{{startTime}}" start="2015-09-01" end="{{endTime}}" onChange="bindStartTimeChange">
    <view class="datePicker">{{startTime}}</view>
  </picker>
  <view>至</view>
  <picker mode="date" value="{{endTime}}" start="{{startTime}}" end="{{todayDate}}" onChange="bindEndTimeChange">
    <view class="datePicker">{{endTime}}</view>
  </picker>
  <view class="search" onTap="dealDataByDay">搜索</view>
</view>
<view class="selectBasis">
  <view class="item" a:for="{{basisArr}}" a:key="name">
    <button class="{{item.basis == basis?'selected':''}}" data-basis="{{item.basis}}" onTap="changeBasis">{{item.name}}</button>
  </view>
</view>
<view class="listHeader">
  <view class="item" onTap="sortFun" a:for="{{sortArr}}" a:key="name" data-index="{{index}}">
    <text>{{item.name}}</text>
    <view class="sort">
      <text class="iconfont icon-arrLeft-fill1 {{(item.checked && item.sort)?'c3096F9':''}}"></text>
      <text class="iconfont icon-arrLeft-fill {{(item.checked && !item.sort)?'c3096F9':''}}"></text>
    </view>
  </view>
</view>
<scroll-view scroll-y class="incomeList" style="height:{{boxHeight}}px">
  <view class="item" a:for="{{showData}}" a:key="date" data-index="{{index}}">
    <view class="date">{{filter.CN(item.date, basis)}}</view>
    <view class="value {{item.value>0?'cF89898':''}}">¥ {{item.value}}</view>
  </view>
</scroll-view>


