<!--pages/rentSet/addordelEqu.axml-->
<view class="equ-list">
  <view class="item" a:for="{{list}}" a:for-item="item" a:key="id">
    <text>{{item.type}}</text>
    <button a:if="{{item.added}}" class="del" onTap="del" data-index="{{index}}">删除</button> 
    <button a:if="{{!item.added}}" class="add" onTap="add" data-index="{{index}}">添加</button>
  </view>
</view>
