<!--pages/introduction4/introduction4.axml-->
<view class="introduction">
  <view class="upload-box">
    <label>营业执照</label>
    <view class="image-info">
      <view class="text">
        <text class="text2">1.照片方向正确，不能颠倒</text>
        <text class="text2">2.照片上的字能清晰可见边框完整，能看到国徽</text>
        <text class="text2">3.如果是复印件，必须加盖公章</text>
        <text class="text2">4.没有营业执照，可到工商局办理后申请</text>
      </view>
      <view class="image-content">
        <image a:if="{{businessLicenceImageShow}}" class="added-image" src="{{businessLicenceImageShow}}" data-src="{{businessLicenceImageShow}}" onTap="clickImage" mode="aspectFill"></image>
        <image a:if="{{!businessLicenceImageShow}}" class="add-image" src="../../images/img_add.png" onTap="chooseBusinessLicenceImage"></image>
        <image a:if="{{businessLicenceImageShow}}" class="delete-image" src="../../images/img_del.png" onTap="deleteBusinessLicence"></image>
      </view>
    </view>
  </view>
  <view class="upload-box">
    <label>法定代表人\n身份证</label>
    <view class="image-info">
      <view class="text" style="margin-bottom:100rpx;">
        <text class="text2">身份证上文字需要清晰展示可辨认。</text>
      </view>
      <view class="idcard-content">
        <image a:if="{{idcardImage1Show}}" class="added-image" src="{{idcardImage1Show}}" data-src="{{idcardImage1Show}}"  onTap="clickImage" mode="aspectFit"></image>
        <image a:if="{{!idcardImage1Show}}" class="add-image" src="../../images/idcard_1.png" onTap="chooseIdcardImage1"></image>
        <image a:if="{{idcardImage1Show}}" class="delete-image" src="../../images/img_del.png" onTap="deleteIdcardImage1"></image>
      </view>
      <view class="idcard-content">
        <image a:if="{{idcardImage2Show}}" class="added-image" src="{{idcardImage2Show}}" data-src="{{idcardImage2Show}}"  onTap="clickImage" mode="aspectFit"></image>
        <image a:if="{{!idcardImage2Show}}" class="add-image" src="../../images/idcard_2.png" onTap="chooseIdcardImage2"></image>
        <image a:if="{{idcardImage2Show}}" class="delete-image" src="../../images/img_del.png" onTap="deleteIdcardImage2"></image>
      </view>
    </view>
  </view>
  <button class="next" onTap="next">下一步</button>
</view>