<!--pages/introduction1/introduction1.axml-->
<view class="introduction">
  <view class="box">
    <view class="info">
      <view class="title">
        <view class="icon">01</view>
        <text>门店照片</text>
      </view>
      <view class="cont">
        <text>需要拍出完整门脸及经营环境照片。</text>
      </view>
    </view>
    <view class="image">
      <image src="../../images/store2_img.png"></image>
    </view>
  </view>
</view>
<view class="line"></view>
<view class="introduction">
  <view class="box">
    <view class="info">
      <view class="title">
        <view class="icon">02</view>
        <text>法定代表人手持身份证照</text>
      </view>
      <view class="cont">
        <text>需要清晰展示人物及身份证信息需拍摄手持身份证正、反两张图片不可自拍，不可只拍身份证。</text>
      </view>
    </view>
    <view class="image">
      <image src="../../images/store2_img.png"></image>
    </view>
  </view>
</view>
<view class="line"></view>
<view class="introduction">
  <view class="box">
    <view class="info">
      <view class="title">
        <view class="icon">03</view>
        <text>营业执照</text>
      </view>
      <view class="cont">
        <text> 需要文字清晰、边框完整、露出国徽拍摄复印件需加盖印章、可用有效特许证件代替。</text>
      </view>
    </view>
    <view class="image">
      <image src="../../images/store2_img.png"></image>
    </view>
  </view>
<button class="next" onTap="next">下一步</button>
</view>
