<!--pages/modifyPassword/modifyPassword.axml-->
<view class="header-tabs">
  <view class="item {{selectedTab == '1'?'selected':''}}" data-select="1" onTap="selectTab">普通密码</view>
  <view class="item {{selectedTab == '2'?'selected':''}}" data-select="2" onTap="selectTab">老板密码</view>
</view>

<view class="input-box" a:if="{{selectedTab == '1'}}">
  <view class="item">
    <label>原密码</label>
    <input type="password" onInput="oldNormalChange" value="{{oldNormal}}" placeholder="原普通密码  6位数字"></input>
  </view>
  <view class="item">
    <label>新密码</label>
    <input type="password" onInput="newNormalChange" value="{{newNormal}}" placeholder="新普通密码  6位数字"></input>
  </view>
  <view class="item">
    <label>确认新密码</label>
    <input type="password" onInput="confirmNormalChange" value="{{confirmNormal}}" placeholder="确认新普通密码"></input>
    <icon class="prompt-icon" type="info" size="20" color="#FFA4A4" a:if="{{confirmNormal != newNormal}}"></icon>
  </view>
</view>
<view class="prompt" a:if="{{selectedTab == '1'}}">普通密码用于确认设备归还</view>

<view class="input-box" a:if="{{selectedTab == '2'}}">
  <view class="item">
    <label>原密码</label>
    <input type="password" onInput="oldBossChange" value="{{oldBoss}}" placeholder="原老板密码  6位数字"></input>
  </view>
  <view class="item">
    <label>新密码</label>
    <input type="password" onInput="newBossChange" value="{{newBoss}}" placeholder="新老板密码  6位数字"></input>
  </view>
  <view class="item">
    <label>确认新密码</label>
    <input type="password" onInput="confirmBossChange" value="{{confirmBoss}}" placeholder="确认新老板密码"></input>
    <icon class="prompt-icon" type="info" size="20" color="#FFA4A4" a:if="{{confirmBoss != newBoss}}"></icon>
  </view>
</view>
<view class="prompt" a:if="{{selectedTab == '2'}}">老板密码用于信息修改、租金 修改、提现等重要功能。</view>

<button class="next" onTap="amendPwd">确认</button>
<view class="forgetPwd" onTap="forgetPwd">忘记密码</view>
