<!--pages/equipmentDetails/equipmentDetails.axml-->
<import-sjs name="filter" from="../../utils/filter/filter.sjs"></import-sjs>
<view class="info-box">
  <view class="head">
    <text>设备信息</text>
    <view a:if="{{equipmentDetails.state == '1'}}" class="iconfont icon-yiwen ask-button" onTap="goAsk"></view>
  </view>
  <view class="ge"></view>
  <view>
    <view class="title">类别：</view>
    <view class="text">{{equipmentDetails.type}}</view>
  </view>
  <view>
    <view class="title">型号：</view>
    <view class="text">{{equipmentDetails.version}}</view>
  </view>
  <view>
    <view class="title">当前状态：</view>
      <text a:if="{{equipmentDetails.state == '1'}}" class="text c09BB07">可租用</text>
      <text a:if="{{equipmentDetails.state == '2'}}" class="text cF89898">租用中</text>
      <text a:if="{{equipmentDetails.state == '3'}}" class="text cFFCB21">维修中</text>
  </view>
  <view>
    <view class="title">使用总时长：</view>
    <view class="text">{{filter.Hm(equipmentDetails.timeCount)}}分钟</view>
  </view>
  <view>
    <view class="title">使用次数：</view>
    <view class="text">{{equipmentDetails.useCount}}</view>
  </view>

  <button a:if="{{equipmentDetails.state == '1'}}" class="next" onTap="deleteEquipment">删除设备</button>
</view>
